<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Package Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Python Package Manager</h1>
    <h3>版本号：1.13</h3>
    <div style="display: flex; justify-content: space-between;">
        <button id="startNewInstanceBtn">Start New Instance</button>
        <pre id="output"></pre>
        <button id="startWorkTeam">Start Work Team</button>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h3>History Projects</h3>
            <ul id="projectList"></ul>
        </div>
        <div>
            <h3>WorkTeam Projects</h3>
            <ul id="workTeamProjectList"></ul>
        </div>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>

