body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* 防止出现横向滚动条 */
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* 靠左对齐 */
}

#fileSelect {
    padding: 10px;
    font-size: 16px;
    width: auto; /* 调整为自动宽度 */
    max-width: 300px; /* 限制最大宽度 */
}

.chat-box {
    border: 1px solid #aaa;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 100px); /* 保持两边各50px的间距 */
    margin: 0 auto; /* 水平居中 */
}

.message {
    margin: 20px 0; /* 增加聊天气泡之间的垂直间隔 */
    border-radius: 10px;
    background-color: #f0f0f0;
    border-top: 30px solid;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 20px;
    transition: transform 0.2s;
    width: calc(100% - 100px); /* 缩小聊天气泡的宽度 */
    max-width: 800px; /* 限制最大宽度 */
    margin-left: auto;
    margin-right: auto; /* 水平居中 */
}

.message:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
}

.message.normal {
    border-top-color: #2e8b57;
}

.message.llm {
    border-top-color: #4682b4;
}

.message.ifnode {
    border-top-color: #db7093;
}

.message.trigger {
    border-top-color: #ffa500;
}

.message-header {
    font-weight: bold;
    margin: 0;
    color: white;
    padding: 5px;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-section, .output-section {
    margin-top: 10px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.input, .output {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-name, .output-name {
    font-weight: bold;
    margin-right: 5px;
}

.input.string, .output.string {
    background-color: #66cdaa;
    color: #333;
}

.input.num, .output.num {
    background-color: #5f9ea0;
    color: #333;
}

.input.boolean, .output.boolean {
    background-color: #9370db;
    color: #333;
}

.input.trigger, .output.trigger {
    background-color: #d45c00;
    color: #333;
}

.new-message {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}
