ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    cursor: default;
    padding: 5px;
    margin: 5px 0;
}

ul li:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    margin-right: 10px;
}
